<div class="sign">
  <center>
    <div class="jumbotron">
      <h1>Welcome to raddit</h1>
      <p>Reddit Clone - Sample App</p>
      <p>Sign in to add, comment and likes links!</p>
      <p><%= link_to 'Sign Up', signup_path, class: "btn btn-lg btn-success" %>
      or <%= link_to 'Sign In', login_path %></p>
    </div>
  </center>
</div>
