.sign
  %center
    .jumbotron
      %h1 Welcome to raddit
      %p Reddit Clone - Sample App
      %p Sign in to add, comment and likes links!
      %p
        = link_to 'Sign Up', signup_path, class: "btn btn-lg btn-success"
        or #{link_to 'Sign In', login_path}
